@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get More Useful Sample Codes from my   <a href="https://github.com/nimatalebi/">Github</a>.</p>
</div>
